@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');



:root{
    --clippy: polygon(0 0, 0 0, 0 100% , 0 100%);
}

body{
    font-family: 'Silkscreen', cursive;
    background: #44A08D; 
    height: 100vh;
    display: flex;
    background: #000000;  
    background: -webkit-linear-gradient(to right, #0f9b0f, #000000);  
    background: linear-gradient(to right, #0f9b0f, #000000); 

    cursor: url(cursor.png), auto;

    

}
.texts{
    margin: auto;
    display: flex;
    flex-direction:column;
    align-items: flex-start;
}

.tittle{
    text-align: center;
    left:20%;
    font-size: 5em;
    margin-bottom: .1em;
    text-shadow: 1px 6px 0 rgb(255, 255, 255), -5px 5px 0 white;
    margin-top: auto;

}

.subtittle{
    text-align: center;
    font-size: 3.5em;
    font-weight: 300em;
    text-shadow: 1px 5px 0 rgb(243, 243, 243), -4px 3px 0 white;
    margin-bottom: 1em;
    margin-top: auto;

}

.name{
   position: relative;
}

.name::before{
    content: "";
    display: block;
    background:#09b628;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    clip-path:var(--clippy)
}

.subtittle::before{
    background:#09b628;
    text-align: center;
}

.name:hover::before{
    clip-path: polygon(0 0, 100% 0%, 100% 100%, 0% 100%);
}
